/* Ensure the form doesn't trigger horizontal scroll */
.dialog-form-container {
    overflow-x: hidden;
    padding: 0.5rem;
}

/* Make sure inputs take full width of their grid cell */
.w-full {
    width: 100% !important;
}

/* PrimeNG specific fix for textarea */
textarea {
    resize: none;
}

::ng-deep .p-button-emerald .p-button {
    background-color: #10b981 !important; /* emerald-500 */
    border-color: #10b981 !important;
    padding: 0.5rem 1rem;
}

::ng-deep .p-button-emerald .p-button:hover {
    background-color: #059669 !important; /* emerald-600 */
}