<div class="p-6 bg-slate-50 min-h-screen">
    <div class="bg-white rounded-xl shadow-sm border border-slate-200 p-6">
        
        <div class="flex justify-between items-center mb-4">
            <p-button label="Logout" [rounded]="true"
                styleClass="bg-emerald-500 hover:bg-emerald-600 border-none px-6 py-2.5 shadow-md" (click)="onlogout()">
            </p-button>
        </div>

        <app-category-toolbar 
            (categorySelected)="onCategoryChange($event)"
            (categoriesLoaded)="onCategoriesLoaded($event)">
        </app-category-toolbar>

        <hr class="border-slate-100 mb-8 mt-4">

        <app-lov-card 
            [data]="listValues()" 
            [loading]="isLoading()" 
            (onOpenAdd)="openAdd()"
            (onOpenSearch)="openSearch()" 
            (onDeleteItem)="onDeleteItem($event)" 
            (onViewItem)="openView($event)">
        </app-lov-card>
    </div>
</div>

<app-lov-dialog 
    [(visible)]="isDialogVisible" 
    [mode]="currentMode()" 
    [item]="selectedDetailItem()"
    [categories]="toolbarCategories()" 
    [parents]="originalListValues()" 
    (onConfirm)="handleDialogAction($event)">
</app-lov-dialog>